
<% if user_signed_in? %>
  <h1>Friends</h1>
  <table class="table table-striped table-hover table-bordered">

    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
      </tr>
    </thead>

    <tbody>
      <div id="friends">
        <% @friends.each do |friend| %>
          <% if friend.user == current_user %>
            <%= render friend %>
          <% end %>
        <% end %>
      </div>
    </tbody>

  </table>

  <%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>

<% else %>
  <h1>Hello</h1>
  <br/>
  <p>glad you're here.</p>
  <p>This site is to never forget who your friends really are.</p>
  <p>Register <%= link_to 'here', new_user_registration_path %> and write them all down, including their name, phone number and twitter-handle.</p>

<% end %>
