<h1>About</h1>
<br/>

<p>This app is a coding project in Rails (v7.0.2.3) using Ruby (v3.1.1p18).</p>
<p>It is a full stack CRUD-project enabling users to log in and set up a friends list. Those friends as well as the users are stored in a database. The friends can be created, shown (read), edited (updated), and deleted (destroyed).</p>
<p>The styling is done with bootstrap (v5.1).</p>
<br/>
<p>Thanks to John Elder from <a href='https://codemy.com/' rel=“nofollow“ target='_blank'>Codemy</a> for creating <a href='https://www.youtube.com/watch?v=fmyvWz5TUWg&cbrd=1' rel=“nofollow“ target='_blank'>this tutorial</a>.</p>
